<section class="section about-section" id="about-us-id">
  <div class="container">
    <div class="component">
      
      <!-- Ліва частина — текст -->
      <div class="content-left">
        <div class="content">
          <h1 class="heading">Про Меблерію</h1>
          <p class="text">
            У Меблерії ми прагнемо створювати затишок та функціональність у кожному домі. 
            Наша місія - пропонувати високоякісні меблі, що поєднують у собі сучасний дизайн, 
            довговічність та доступність. Ми віримо, що ідеальний інтер'єр починається з правильних меблів.
          </p>
        </div>
      </div>
      <div class="image">
        <img 
          src="../img/about/about-us-image.jpg" 
          alt="Про Меблерію"
          srcset="../img/about/about-us-image.jpg 1xы, 
                  ../img/about/about-us-image@2x.jpg 2x">
      </div>

    </div>
  </div>
</section>